.seccion-principal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.799);
  padding: 15px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  animation: flash;
  animation-duration: 2s; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: #ffe6df;
  overflow-x: hidden; }

@media (max-width: 375px) {
  .list-group-item-comoadoptar {
    font-size: 5px; }
  .footer-ultimo {
    font-size: 12px; } }

@media (max-width: 768px) {
  .body {
    overflow-x: hidden; }
  .seccion-incio {
    display: none; }
  .img-fluid-index {
    display: none; }
  .listado_requisitos {
    font-size: 12px;
    margin-right: 20%; }
  .list-group {
    height: 70%;
    width: 60%;
    margin-left: 20%;
    font-size: 15px;
    text-align: center;
    justify-content: center; }
  .list-group-item {
    height: 50%;
    width: auto; }
  .position-image {
    font-size: 12px;
    overflow-x: hidden;
    text-align: center; }
  .titulo_ley {
    font-size: 1.2em; }
  .texto_rescatista {
    font-size: 13px; }
  .resaltar {
    font-size: 15px; } }

.position-image {
  margin-left: 35%; }

.img-fluid-index {
  width: 350px;
  height: 220px;
  float: left;
  margin-left: 3%;
  border-radius: 50%;
  border-color: #ecd6c0;
  border-width: 5px;
  border-style: solid; }
  @media (max-width: 768px) {
    .img-fluid-index {
      display: none; } }

.imagen_gatitoadoptante {
  width: 350px;
  height: auto;
  float: left;
  margin-left: 15%;
  border-radius: 50%;
  border-color: #dac9df;
  border-width: 5px;
  border-style: solid; }

.formulario {
  padding: 1%;
  background-color: #bec092;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  width: 60%; }
  @media (max-width: 375px) {
    .formulario {
      font-size: 10px; } }
  .formulario .opciones {
    justify-content: space-around;
    width: 20rem;
    margin: 0.75rem 0; }

section h6 {
  padding: auto;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    section h6 {
      font-size: 1.7em; } }

.opciones label {
  font-size: 0.9rem;
  margin-bottom: 0.2px; }
  @media (max-width: 768px) {
    .opciones label {
      font-size: 11px; } }

.opciones div {
  display: flex;
  justify-content: flex-start;
  padding-left: 0.2rem; }
  .opciones div input {
    cursor: pointer; }

.grid-item {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-color: #ecd6c0;
  background-position: center;
  background-repeat: no-repeat; }
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

footer {
  background: #ecd6c0;
  margin: auto;
  min-height: 100%;
  margin-top: 1rem; }
  footer h4 {
    width: 100%;
    padding: 1%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.875);
    font-size: 2em;
    letter-spacing: 2.5px;
    text-align: center; }
    @media (max-width: 768px) {
      footer h4 {
        font-size: 1.5em; } }
  footer .row {
    text-align: center; }
  footer .container-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 15px; }
  footer .footer-ultimo {
    text-align: center;
    margin-top: 2%; }

.logo {
  width: 75px;
  height: 75px; }

.navbar-collapse {
  flex-grow: end; }

.container-fluid {
  background-color: #ecd6c0;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em; }

.nav-link:hover {
  background-color: #bf9780; }

.seccion-principal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.799);
  padding: 15px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  animation: flash;
  animation-duration: 2s; }

.h3-comoadoptar {
  background-color: #ccaa88;
  font-size: 1.7em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgba(0, 0, 0, 0.875);
  letter-spacing: 2.5px;
  padding: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 40%; }
  @media (max-width: 768px) {
    .h3-comoadoptar {
      margin: auto;
      font-size: 1em;
      padding: 2%;
      margin-top: 5px; } }

.h3-index {
  background-color: #e8c39e;
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgba(0, 0, 0, 0.875);
  letter-spacing: 2.5px;
  padding: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-top: 10px;
  margin-left: 40%; }
  @media (max-width: 768px) {
    .h3-index {
      margin: auto;
      font-size: 15px;
      padding: 2%; } }

.h2-index {
  background-color: #c0a0c3;
  font-size: 1.6em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2.5px;
  width: 60%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 25%; }
  @media (max-width: 768px) {
    .h2-index {
      font-size: 20px;
      padding: 1%; } }

.h2-rescatados {
  background-color: #bec092;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2.5px;
  width: 60%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 25%; }
  @media (max-width: 375px) {
    .h2-rescatados {
      font-size: 1em;
      width: auto;
      margin-top: 10px;
      margin-right: 15%;
      padding: auto; } }

.h2-quienessomos {
  background-color: #bec092;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2.5px;
  width: 60%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  text-transform: uppercase;
  text-align: left; }

.seccion-principal {
  background-color: #e3b1c8; }

.h2 {
  background-color: #c0a0c3; }

.h5-titulo {
  font-family: 'Bebas Neue', cursive;
  background-color: #c0a0c3;
  width: 50%;
  margin: auto;
  font-size: 2em;
  letter-spacing: 3.5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px; }
  @media (max-width: 375px) {
    .h5-titulo {
      font-size: 1.5em; } }

.titulo_ley {
  font-family: 'Bebas Neue', cursive;
  color: #008f6d;
  justify-content: center;
  text-align: center;
  text-decoration: underline; }

.parrafo {
  font-size: 13px;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: auto;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif; }

.resaltar {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 25%;
  text-align: center;
  justify-content: center;
  font-weight: bold; }

.seccion-principal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.799);
  padding: 15px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  animation: flash;
  animation-duration: 2s; }

.seccion-principal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.799);
  padding: 15px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  animation: flash;
  animation-duration: 2s; }

.listado-infoutil {
  background-color: #c0a0c3;
  font-size: 1.3em;
  padding: 2%;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.8px;
  line-height: 1.9em;
  width: fit-content;
  height: fit-content;
  list-style-position: inside;
  margin-top: 10px; }
  @media (max-width: 768px) {
    .listado-infoutil {
      width: fit-content;
      font-size: 16px;
      letter-spacing: 1px;
      margin: auto;
      text-align: left;
      margin-top: 5px;
      background-color: #c0a0c3;
      margin-left: 0px;
      margin-left: auto; } }

.list-group {
  margin-top: 30px; }

.list-group-item {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  line-height: 1.8em;
  background-color: #daabb6;
  padding: 1%;
  list-style-position: inside;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 375px) {
    .list-group-item {
      font-size: 12px; } }
  @media (min-width: 768px) {
    .list-group-item {
      font-size: 15px; } }

.list-group-item-comoadoptar {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.9em;
  background-color: #daabb6;
  padding: 1%;
  list-style-position: inside;
  width: 55%;
  margin-left: 30%; }
  @media (max-width: 375px) {
    .list-group-item-comoadoptar {
      width: 50%;
      font-size: 10px; } }
  @media (max-width: 768px) {
    .list-group-item-comoadoptar {
      margin-left: 40%; } }

.seccion-principal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.799);
  padding: 15px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  animation: flash;
  animation-duration: 2s; }

.card-img-top {
  width: 70%;
  padding: auto;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px; }

.card-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center; }

.card {
  margin: auto;
  width: 300px;
  background-color: #dac9df;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.799);
  border-left-color: rgba(0, 0, 0, 0.799); }
  @media (max-width: 425px) {
    .card {
      width: 150px;
      height: auto;
      border: none; } }

.card-text {
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px; }

.imagen-carousel {
  width: 500px;
  height: 500px; }
  @media (max-width: 768px) {
    .imagen-carousel {
      width: 200px;
      height: 150px; } }
  @media (min-width: 768px) {
    .imagen-carousel {
      width: 350px;
      height: 220px; } }

.btn {
  font-family: 'Raleway', sans-serif;
  margin-left: 43%;
  margin-top: 20px;
  background-color: #daabb6; }
  @media (max-width: 425px) {
    .btn {
      width: fit-content;
      height: fit-content;
      font-size: 15px;
      margin-left: 35%;
      border: none;
      padding: 1%; } }

.mapa {
  width: 520px;
  height: 250px;
  margin-left: 35%; }
  @media (max-width: 375px) {
    .mapa {
      width: 300px;
      height: 200px;
      margin-left: 12%;
      border: none; } }
  @media (min-width: 768px) {
    .mapa {
      width: 350px;
      height: 200px;
      margin-left: 35%;
      border: none; } }

.img-fluid {
  width: 50%;
  height: 60%;
  margin-left: 20%; }
