@import './mixins';
@import './extends';
@import './base/variables';


.card-img-top{
    width: 70%;
    padding: auto;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;   
}

.card-title{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

}

.card{
    margin:auto;
    width: 300px;
    background-color:map-get($colores,"color-quinto");
    border-radius: 10px;
    border-color:map-get($colores,"color-texto");
    border-left-color: map-get($colores,"color-texto");

    @media (max-width:425px){
        width: 150px;
        height: auto;
        border: none;
    }
}

.card-text{
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}
.imagen-carousel{
    width: 500px;
    height: 500px;

    @media(max-width:768px){
        width: 200px;
        height: 150px;
    }

    @media(min-width:768px){
        width: 350px;
        height: 220px;
    }
}
.btn{
    font-family: 'Raleway', sans-serif;
    margin-left: 43%;
    margin-top:20px;
    background-color:map-get($colores,"color-terciario");

    @media (max-width:425px){
        width: fit-content;
        height: fit-content;
        font-size: 15px;
        margin-left: 35%;
        border: none;
        padding: 1%;
    }
}

.mapa{
    width: 520px;
    height: 250px;
    margin-left: 35%;

    @media (max-width:375px){
        width:300px;
        height:200px;
        margin-left:12%;
        border: none;
    }

    @media (min-width:768px){
        width:350px;
        height:200px;
        margin-left:35%;
        border: none;
    }

}


.img-fluid{
    width: 50%;
    height: 60%;
    margin-left: 20%;
}