@import './mixins';
@import './extends';
@import './base/variables';


.card-img-top{
    width: 50%;
    padding: auto;
    margin: auto;
    margin-top: 3%;
}

.card-title{
    text-align: center;
}

.card{
    margin:auto;
    background-color: #fbe4ce;
}