@import './mixins';
.formulario{
    padding:1%;
    margin-left: 30%;
    margin-right: 20%;
    background-color:map-get($colores,"color-cuarto");
    margin-top: 10px;
    font-family:'Raleway', sans-serif;

    @media (max-width:768px){
        font-size:12px;
        margin-left:auto;
        margin-right:auto;
    }

    .opciones{
        justify-content: space-around;
        width: 20rem;
        margin: 0.75rem 0;
    }
}

section{
    h6{
        padding:auto;
        font:{
            family:'Yanone Kaffeesatz', sans-serif;
            size: 1.8rem;
        }

        text:{
            align: center;
            transform: uppercase;
        }

        @media (max-width:768px){
            font-size:1.7em;
        }
    }
}

.opciones{
    label{
    font-size: 0.9rem;
    margin-bottom: 0.2px;

    @media (max-width:768px){
        font-size:11px;
    }
    }

    div{
        display:flex;
        justify-content: flex-start;
        padding-left: 0.2rem;

        input{
            cursor: pointer;
        }
    }
}

.grid-item {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background:{
        color: map-get($colores,"color-principal");
        position: center;
        repeat: no-repeat;
    }
        &:hover {
            filter: opacity(0.9);
            transform: scale(1.04);
          }
  }


  .formulario{
    background-color:map-get($colores,"color-cuarto");
    margin-top: 10px;
    font-family:'Raleway', sans-serif;

}