%seccion{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    letter-spacing:2.5px;
    color: map-get($colores,"color-texto");
    padding:15px;
    margin-right:auto;
    height:fit-content;
    width:fit-content;
    display:flex;
    justify-content: center;
    animation: flash; 
    animation-duration: 2s;
}

%seccion-mobile{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6em;
    letter-spacing:2.5px;
    color: map-get($colores,"color-texto");
    padding: 2px;
    margin-right:auto;
    height:min-content;
    width:15%;
    display:flex;
    justify-content: center;
    animation: flash; 
    animation-duration: 2s;
}