%seccion{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3em;
    letter-spacing:2.5px;
    color: map-get($colores,"color-texto");
    padding:15px;
    height:fit-content;
    width:fit-content;
    display:flex;
    justify-content:center;
    animation: flash; 
    animation-duration: 2s;
}