footer{
    background:map-get($colores,"color-principal");
    margin: auto;
    min-height: 100%;
    margin-top: 1rem;

   h4{
            width: 100%;
            padding: 1%;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            color: rgba(0, 0, 0, 0.875);
            font-size: 2em;
            letter-spacing:2.5px;
            text-align: center;

            @media(max-width:768px){
                font-size: 1.5em;
            }
    }

    .row{
        text-align: center;
    }

    .container-footer{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
    }

    .footer-ultimo{
        text-align: center;
        margin-top: 2%;
    }
}



