@import './mixins';


.col-4{
    margin: auto;
 }
 
 .list-group-item{
     font-size: 1em;  
     line-height: 1.9em;
     background-color:map-get($colores,"color-terciario");
     padding:1%;
     list-style-position: inside;
     text-align: right;
     width: auto;
 }

 .img-fluid{
    width:350px;
    height:auto;
    float:left;
    margin-left:10%;

    border:{
        radius: 50%;
        color:map-get($colores,"color-principal");
        width: 5px;
        style: solid;
    }
}

.btn{
    background-color:map-get($colores,"color-terciario");
}

.imagen_gatitoadoptante{
    width:350px;
    height:auto;
    float:left;
    margin-left: 15%;
    
    border:{
        radius: 50%;
        color:map-get($colores,"color-quinto");
        width: 5px;
        style: solid;
    }
}