@import './mixins';


.position-image{
    margin-left:35%;
 }
 

 .img-fluid-index{
    width:350px;
    height:220px;
    float:left;
    margin-left:3%;

    border:{
        radius: 50%;
        color:map-get($colores,"color-principal");
        width: 5px;
        style: solid;
    }

    @media(max-width:768px){
        display:none;
    }
}

.imagen_gatitoadoptante{
    width:350px;
    height:auto;
    float:left;
    margin-left: 15%;
    
    border:{
        radius: 50%;
        color:map-get($colores,"color-quinto");
        width: 5px;
        style: solid;
    }
}