@import './mixins';


.col-4{
    margin: auto;
    width: 30%;
 }
 

 .img-fluid-index{
    width:340px;
    height:220px;
    float:left;
    margin-left:3%;

    border:{
        radius: 50%;
        color:map-get($colores,"color-principal");
        width: 5px;
        style: solid;
    }
}

.imagen_gatitoadoptante{
    width:350px;
    height:auto;
    float:left;
    margin-left: 15%;
    
    border:{
        radius: 50%;
        color:map-get($colores,"color-quinto");
        width: 5px;
        style: solid;
    }
}