@import './mixins';


.position-image{
    margin-left:35%;
    @media(max-width:768px){
        margin-left:10%;
    }
 }
 
 .img-fluid-index{
    width:350px;
    height:260px;
    float:left;
    margin-left:3%;

    border:{
        radius: 50%;
        color:map-get($colores,"color-principal");
        width: 5px;
        style: solid;
    }

    @media(max-width:768px){
        display:none;
    }
}

