@import './mixins';
@import './extends';
@import './base/variables';

.listado-infoutil{
    @include listado_requisitos(#c0a0c3,center,0%,16px);
}

.list-group{
    margin-top:30px;
}

.list-group-item{
     font:{
        family:'Raleway', sans-serif;
        size: 0.9em;  
     }
     line-height: 1.8em;
     background-color:map-get($colores,"color-terciario");
     list-style-position: inside;
    text:{
        align: center;
        transform: uppercase;
    }
 }

.list-group-item-comoadoptar{
    font:{
        family:'Raleway', sans-serif;
        size: 0.9em; 
    } 

    text:{
        align: center;
        transform: uppercase;
    }
     line-height: 1.9em;
     background-color:map-get($colores,"color-terciario");;
     list-style-position: inside;
}
