@import './mixins';
@import './extends';
@import './base/variables';

.listado-infoutil{
    @include listado_requisitos(#c0a0c3,center,2%,16px);

    @media(max-width:768px){
        width: fit-content;
        font-size: 15px;
        letter-spacing:1px;
        margin: auto;
        text-align:center;
        justify-content: center;
        margin-top: 5px;
        background-color: #c0a0c3;
    }
}

.list-group{
    margin-top:30px;
}

.list-group-item{
    font-family:'Raleway', sans-serif;
    font-size: 0.8em;  
     line-height: 1.8em;
     background-color:map-get($colores,"color-terciario");
     padding:1%;
     list-style-position: inside;
     text-align: center;
     text-transform: uppercase;


    @media (max-width:375px){
        font-size: 12px;
    }

    @media (min-width:768px){
        font-size: 15px;
    }

 }

 
.list-group-item-comoadoptar{
    font:{
        family:'Raleway', sans-serif;
        size: 0.8em; 
    } 

    text:{
        align: center;
        transform: uppercase;
    }
     line-height: 1.9em;
     background-color:map-get($colores,"color-terciario");
     padding:1%;
     list-style-position: inside;
     width: 55%;
     margin-left:30%;

    @media(max-width:375px){
        width: 50%;
        font-size: 10px;
    }

    @media(max-width:768px){
        margin-left: 40%;

    }
        
    }
