@mixin titulo-h3($bgColor,$fontSize){
        background-color:$bgColor;
        font-size: $fontSize;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: rgba(0, 0, 0, 0.875);
        letter-spacing:2.5px;
        padding: 20px;
        margin-left: auto;
        height: fit-content;
        display:flex;
        justify-content:right;
        width: fit-content;
}

@mixin titulo-h2($bgColor,$fontSize){
    background-color:$bgColor;
    font-size: $fontSize;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing:2.5px;
    width: 60%;
    margin-top: 10px;
    display:flex;
    justify-content:center;
    text-align: center;
    margin-left: 25%;
}

@mixin listado_requisitos($bgColor,$align,$padding,$fontSize,$margin){
    background-color: $bgColor;
    font-size: $fontSize;
    padding: $padding;
    text-align: $align;
    font-family:'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.8px;
    line-height: 1.9em;
    width:fit-content;
    height:fit-content;
    list-style-position: inside;
    margin-left:$margin;
}