.logo{
    width: 75px;
    height: 75px;
} 

.navbar-collapse{
    flex-grow: end;
}


.container-fluid{
    background-color:map-get($colores,"color-principal");
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}
.nav-link:hover{
    background-color:#bf9780;
}