@import './mixins';
@import './extends';
@import './base/variables';

.h3-comoadoptar{
    @include titulo-h3(rgb(251, 185, 99),1.7em);
}

.h3-index{
    @include titulo-h3(#e8c39e,2em);

    @media (max-width:375px) {
        margin:auto;
        font-size: 1em;
        padding: 2%;
    }
}


.h2-index{
    @include titulo-h2(#c0a0c3,1.6em);
    @media (max-width:375px) {
        font-size: 1em;
        padding: 1%;
    }
}

.h2-rescatados{
    @include titulo-h2(#e3b1c8,1.5em);
}

.h2-quienessomos{
    @include titulo-h2(rgb(146, 168, 255),2em);
}

.seccion-infoutil{
    @extend %seccion;
    background-color:#e3b1c8;
}

.seccion-inicio{
    @extend %seccion;
    background-color: #e3b1c8;
}

.seccion-comoadoptar{
    @extend %seccion;
    background-color:#e3b1c8;
}

.seccion-quienessomos{
    @extend %seccion;
    background-color:#e3b1c8;
}

.seccion-rescatados{
    @extend %seccion;
    background-color:#c0a0c3;
}
