@import './mixins';
@import './extends';
@import './base/variables';

.h3-comoadoptar{
    @include titulo-h3(#ccaa88,1.7em);
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;

    @media (max-width:768px) {
        margin:auto;
        font-size: 1em;
        padding: 2%;
        margin-top: 5px;
    }

   }


.h3-index{
    @include titulo-h3(#e8c39e,2em);
        margin-left: 50%;

    @media(max-width:768px) {
        margin:auto;
        font-size: 18px;
        padding: 2%;
    }

}


.h2-index{
    @include titulo-h2(#c0a0c3,1.6em);
    @media (max-width:768px) {
        font-size:20px;
        padding: 1%;
    }
}

.h2-rescatados{
    @include titulo-h2(#bec092,1.5em);
    @media(max-width:375px){
        font-size: 1em;
        width:auto;
        margin-top:10px;
        margin-right:15%;
        padding:auto;
    }
}

.h2-quienessomos{
    @include titulo-h2(#bec092,1.5em);
    text-transform: uppercase;
    text-align: left;
}

.seccion-principal{
    @extend %seccion;
    background-color: #e3b1c8;
}


.h2{
    background-color: map-get($colores,"color-secundario");
}

.h5-titulo{
    font-family: 'Bebas Neue', cursive;
    background-color: #c0a0c3;
    width: 50%;
    margin: auto;
    font-size: 2em;
    letter-spacing: 3.5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom:10px;

    @media(max-width:375px)
    {
        font-size: 1.5em;
    }

}

.titulo_ley{
    font-family: 'Bebas Neue', cursive;
    color: #008f6d;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

.parrafo{
    font-size:13px;
    text-align: center;
    justify-content: center;
    margin:0;
    padding:auto;
    letter-spacing: 1px;
    font-family:'Raleway', sans-serif;
}

.resaltar{
    margin:{
        top: 2%;
        left: 30%;
        right: 25%;
    }
    text-align: center;
    justify-content: center;
    font-weight: bold;
}