@import './mixins';
@import './extends';
@import './base/variables';

.h3-index{
    @include titulo-h3(#e8c39e,25px);
    margin-left:40%;    
}

.h2-index{
    @include titulo-h2(#c0a0c3,1.5em);

}

.h2-rescatados{
    @include titulo-h2(#bec092,1.5em);
}

.h2-quienessomos{
    @include titulo-h2(#ccaa88,1.5em);
    text-transform: uppercase;
}

.seccion-principal{
    @extend %seccion;
    background-color: #d397b3;
}

.h2{
    background-color: map-get($colores,"color-secundario");
}

.h5-titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    background-color: #c0a0c3;
    width:20%;
    letter-spacing: 3.5px;
    text-align: center;
    margin: auto;
    margin:{
        top: 5px;
        bottom:10px;
    }
}

.titulo_ley{
    font-family: 'Bebas Neue', cursive;
    font-size:25px;
    color: #008f6d;
    justify-content: center;
    
    text:{
        align: center;
        decoration: underline;
        -moz-animation:alternate;
    }
}

.parrafo{
    font-size:14px;
    text-align: center;
    justify-content: center;
    letter-spacing: 1px;
    font-family:'Raleway', sans-serif;
}

.resaltar{
    font-size: 20px;
    margin:{
        top: 2%;
    }
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

