@import './mixins';
@import './extends';
@import './base/variables';

.h3-comoadoptar{
    @include titulo-h3(rgb(251, 185, 99),1.7em);
}

.h3-index{
    @include titulo-h3(#e8c39e,2em);
}


.h2-index{
    @include titulo-h2(#c0a0c3,1.6em);
}

.h2-rescatados{
    @include titulo-h2(rgb(251, 73, 183),2em);
}

.h2-quienessomos{
    @include titulo-h2(rgb(146, 168, 255),2em);
}

.seccion-infoutil{
    @extend %seccion;
    background-color:rgb(183, 203, 255);
}

.seccion-inicio{
    @extend %seccion;
    background-color: #e3b1c8;
}

.seccion-comoadoptar{
    @extend %seccion;
    background-color:rgb(196, 30, 171);
}

.seccion-quienessomos{
    @extend %seccion;
    background-color:rgb(251, 185, 99);
}

.seccion-rescatados{
    @extend %seccion;
    background-color:rgb(229, 123, 255);
}
