@import './base/variables';
@import "general";
@import 'index';
@import 'como-adoptar';
@import 'footer';
@import 'nav';
@import 'mixins';
@import 'textos';
@import 'extends';
@import 'listados';
@import 'cards';