

$colores: (
    "color-principal":rgb(229, 123, 255),
    "color-secundario":rgb(251, 185, 99),
    "color-terciario":rgb(196, 30, 171),
    "color-cuarto":rgb(221, 255, 143),
    "color-quinto":#dc9ffa,
    "color-texto":rgba(0, 0, 0, 0.799),
);

