

$colores: (
    "color-principal":#ecd6c0,
    "color-secundario":#c0a0c3,
    "color-terciario":#daabb6,
    "color-cuarto":#bec092,
    "color-quinto":#dac9df,
    "color-texto":rgba(0, 0, 0, 0.799),
);

